<h2 class="ui brown header">Change Password</h2>

<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
        <% end %>
    </ul>
<% end %>
<div class="ui large form">
    <%= form_with model: @user, local: true do |f| %>
     <div class="ui stacked segment">
        <div class="field">
            <strong><%= f.label :current_password%></strong>
            <%= f.password_field :current_password%>
        </div>
        <div class="field">
            <strong><%= f.label :new_password%></strong>
            <%= f.password_field :new_password%>
        </div>
        <div class="field">
            <strong><%= f.label :new_password_confirmation%></strong>
            <%= f.password_field :new_password_confirmation%>
        </div>
        <%= f.submit "Submit", class: "ui fluid large blue submit button" %>
    <% end %> 