<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="<%=asset_path 'logo.png' %>" class="image">
      <div class="content">
        Sign-up Page
      </div>
    </h2>
    <div class="ui large form">
     <%= form_for @user do |f| %>
      <div class="ui stacked segment">
         <div class="field">
            <h3><%= f.label :first_name %></h3>
            <%= f.text_field :first_name%>
        </div>
         <div class="field">
              <h3><%= f.label :last_name %></h3>
              <%= f.text_field :last_name%>
        </div>
        <div class="field">
              <h3><%= f.label :email %></h3>
             <%= f.email_field :email %>
        </div>
        <div class="field">
             <h3><%= f.label :password %></h3>
            <%= f.password_field :password %>
        </div>
         <div class="field">
             <h3><%= f.label :password_confirmation %></h3>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div ><%= f.submit "Submit", class: "ui fluid large teal submit button" %></div>
      </div>
    <% end %>
  </div>
</div>
  

