<div class="ui three column grid" id="post_index">
    <% if params[:tag]%>
        <p id="tag" class="btn btn-info btn-sm"><%= params[:tag]%></p>
    <% end %>
    <div class="row">
       <% @posts.each do |post| %>
        <div class="column">
            <div class="ui segment">
                <h3><%= link_to( post.title.truncate(30, separator: " "), post_path(post.id)) %></h3>
                <div><%= link_to(image_tag("#{post.image.small}", style: "width:100%;height:auto"), post_path(post.id)) %></div>
                <div><%= post.body.truncate(50, separator: " ") %></div>
                <div class="ui teal small segment">
                <small class="ui green image small label">Created at: <%= post.created_at.strftime('%Y-%m-%d') %></small>
                <small class="ui blue image small label ">Author: <%= post.user&.full_name %></small>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>