<%= form_tag(searches_result_path, method: "get", class: "ui category search", ) do %>
    <div class="ui icon input"><%= text_field_tag(:search_text) %></div>
    <%= hidden_field_tag(:bulletin, "#{post}") %>
    <%= hidden_field_tag(:param_contents, "#{post}") %>
    <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
<% end %>